body
{
    background-color: #e8e8e8;
}

.bg-white{
    background-color: #fff;
}
.slider{
    margin-bottom: 15px;
}

.col_left{
    display: inline-block;
    margin-left: 15px;
    background-color: #FFF;
    height: 65px;
}

.title_t{
    text-align: center;
    margin-bottom: 1px;
    color: #28bfe5;
}

.title_t h3{
    font-weight: 500;
}

.style_table
{
    width: 100%;
    padding: 20px;
    max-height: 742px;
    overflow-y: auto;
}

table {
    width: 100%;
}

tbody {
    height: 724px;
    overflow-y: auto;
}

table thead td{
    font-weight: 400;
    background-color: #f8f8f8;
    font-size: 20px;
}

tbody tr td{
    vertical-align: middle !important;
    font-size: 18px;
}

.col_right
{
     margin-left: 0;
     padding-left: 0;
}

.col_right .video
{
    margin-bottom: 15px;
}

.col_right .noti{
    height: 385px;
}

.col_right .noti .noti_titile{
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #eee;
    color: #28bfe5;
    text-align: center;
}

.col_right .noti .line_hr{
    height: 1px;
    width: 100%;
    background-color: #000;
}

.col_right .noti .noti_text{
    padding: 20px;
    line-height: 22px;
    margin-top: 15px;
    overflow-y: auto;
    max-height: 300px;
}

.col_right .noti .noti_text a{
    margin-bottom: 15px;
}
.col_right .noti .noti_text ul{
    list-style: none;
}

.col_right .noti .noti_text li{
    margin-bottom: 15px;
}

.footer_body{
    width: 100%;
    height: 65px;
    margin-top: 15px;
    padding-top: 5px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.marquee {
    overflow: hidden;
    width: 100%;
}

.marquee h3{
    color: #28bfe5;
}